.scramble {
    font-size: 0.4em;
    padding-right: 3%;
    padding-left: 3%;
    margin: 0;
}

.average {
    font-size: 0.4em;
}

.timer {
    font-size: 3em;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

@media (max-width:600px) {
    .timer {
        font-size: 2em;
    }
}

.chart {
    margin: 0 auto;
}

.times {
    font-size: 0.3em;
    margin: 0 auto;
}

.bestTime {
    color: rgb(15, 220, 121);
}
