<div>
    <h1 class="timer">{{ time.toFixed(2) }}</h1>
    <div class="times">
        <b-table bordered dark responsive :fields="fields" :items="solves">
            <template v-slot:cell(id)="data">
                <b>{{ data.item.id }}</b>
            </template>
            <template v-slot:cell(time)="data">
                <b>{{ data.item.time }}</b>
            </template>
            <template v-slot:cell(dnf)="data">
                <b v-show="data.item.dnf"><i class="fas fa-times"></i></b>
            </template>
            <template v-slot:table-colgroup="scope">
                <col
                  v-for="field in scope.fields"
                  :key="field.key"
                  :style="{ width: '33%' }" />
              </template>
        </b-table>
    </div>
</div>
