<div>
    <div v-touch:end="timerTrigger">
        <p class="scramble">{{ scramble }}</p>
        <h1 :class="{ timer: true, bestTime: bestTime }">{{ time.toFixed(2) }}</h1>
        <p class="average">session average: {{ sessionAverage === 0.00 ? '--' : sessionAverage.toFixed(2) }}</p>
    </div>
    
    <div class="chart">
        <canvas id="solvesChart"></canvas>
    </div>
    <div class="times">
        <b-table bordered dark responsive fixed :fields="fields" :items="solves">
            <template v-slot:cell(time)="data">
                <div @mouseover="data.item.showPlusTwo = true" @mouseleave="data.item.showPlusTwo = false">{{ data.item.time.toFixed(2) }} <b @click="data.item.time += 2"><span class="plusTwo" v-show="data.item.showPlusTwo">+2</span></b></div>
            </template>
            <template v-slot:cell(dnf)="data">
                <b v-show="data.item.dnf" @click="toggleDNF(data.item)"><i class="fas fa-times-circle"></i></b>
                <b v-show="!data.item.dnf" @click="toggleDNF(data.item)"><i class="far fa-times-circle"></i></b>
            </template>
        </b-table>
    </div>
    <b-button @click="exportSolves">export solves to CSV</b-button> <b-button @click="openSolves">import solves from CSV</b-button>
    <input type="file" id="file-input" style="display:none" @change="importSolves" />
</div>
